<!DOCTYPE html>
<html lang="en" ng-app="myApp" ng-cloak>
	<head>
		<meta charset="UTF-8">
		
		<!-- If IE use the latest rendering engine -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		 
		<!-- Set the page to the width of the device and set the zoon level -->
		<meta name="viewport" content="width = device-width, initial-scale = 1">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/customCSS.css">
		
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
		<link rel="icon" href="img/favicon.ico" type="image/x-icon">
		
		<title>Front End Challange</title>
		
		
	</head>
	
	<body>
		<div class="container-fluid" ng-controller="mainCtr">
		
			<div class="page-header">
				<h1>UX Society Members</h1>
			</div>
			
			<div class="row bottom-buffer">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="input-group">
						<div class="input-group-btn search-panel">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								<span id="search_concept">Filter by</span> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
							  <li><a ng-click="changeFilter('Name')">Name</a></li>
							  <li><a ng-click="changeFilter('Occupation')">Occupation</a></li>
							  <li><a ng-click="changeFilter('Company')">Company</a></li>
							  <li class="divider"></li>
							  <li><a ng-click="changeFilter('All')">All</a></li>
							</ul>
						</div>         
						<input type="text" class="form-control" ng-model="search_param" placeholder="Search term...">
						<span class="input-group-btn">
							<a class="btn btn-default disabled"><span class="glyphicon glyphicon-search"></span></a>
						</span>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-4 col-md-5 col-sm-6 col-xs-12 col-sm-push-6 col-md-push-7 col-lg-push-8">
					<div class="panel panel-primary">
						<div class="panel-heading text-center"">
							<h4>{{selectedName}}</h4>
						</div>
						<div class="panel-body text-center">
							<img ng-src="{{imgSource}}" class="img-responsive img-thumbnail" alt="Photo of {{selectedName}}">
							<div ng-show="personSelected">
								<div class="top-buffer">
									<table class="table table-bordered table-striped">
										<tbody class="text-left">
											<tr>
												<td class="col-xs-3">Gender</td>
												<td class="col-xs-9">{{personSelected.gender}}</td>
											</tr>
											<tr>
												<td>Email</td>
												<td>{{personSelected.email}}</td>
											</tr>
											<tr>
												<td>Country</td>
												<td>{{personSelected.country}}</td>
											</tr>
											<tr>
												<td>Occupation</td>
												<td>{{personSelected.occupation}}</td>
											</tr>
											<tr>
												<td>Company</td>
												<td>{{personSelected.company}}</td>
											</tr>
											<tr>
												<td>Motto</td>
												<td>{{personSelected.motto}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="col-lg-8 col-md-7 col-sm-6 col-xs-12 col-sm-pull-6 col-md-pull-5 col-lg-pull-4">
					<table class="table table-bordered table-striped table-hover table-condensed no-bottom-buffer">
						<thead>
							<tr>
								<th class="col-sm-2 text-center" ng-click="sortBy('surname')">
									<span style="cursor:pointer">Name <span class="glyphicon" ng-class="{'glyphicon-sort':ordering!=='surname','glyphicon-sort-by-alphabet':(ordering==='surname'&&!reverse),'glyphicon-sort-by-alphabet-alt':(ordering==='surname'&&reverse)}"></span></span>
								</th>
								<th class="col-sm-5 text-center" ng-click="sortBy('occupation')">
									<span style="cursor:pointer">Occupation <span class="glyphicon" ng-class="{'glyphicon-sort':ordering!=='occupation','glyphicon-sort-by-alphabet':(ordering==='occupation'&&!reverse),'glyphicon-sort-by-alphabet-alt':(ordering==='occupation'&&reverse)}"></span></span>
								</th>
								<th class="col-sm-5 text-center" ng-click="sortBy('company')">
									<span style="cursor:pointer">Company <span class="glyphicon" ng-class="{'glyphicon-sort':ordering!=='company','glyphicon-sort-by-alphabet':(ordering==='company'&&!reverse),'glyphicon-sort-by-alphabet-alt':(ordering==='company'&&reverse)}"></span></span>
								</th>
							</tr>
						</thead>
						<tbody>
							<span ng-repeat="person in data | filter:search | orderBy : ordering : reverse as filteredList">	
								<tr ng-repeat="person in filteredList | limitTo:itemsPerPage:beginAt" ng-click="setSelected(person)" ng-class="{active: person.id===personSelected.id}" style="cursor:pointer">
									<td>{{person.firstName + ' ' + person.surname + data.length}}</td>
									<td>{{person.occupation}}</td>
									<td>{{person.company}}</td>
								</tr>
							</span>
						</tbody>
					</table>
					
					<!-- Pagination -->
					<div class="text-center no-top-buffer" ng-show="READY">
						<nav>
							<ul class="pagination pagination-lg">
								<li ng-class="{disabled: beginAt===0}">
									<a ng-click="previous()" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
								<li><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li ng-class="{disabled: (beginAt+itemsPerPage)>=data.length}">
									<a ng-click="next()" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
					
					<div class="text-center text-info" ng-show="!READY">
						<h2>
							LOADING 
							<i class="glyphicon glyphicon-refresh glyphicon-spin"></i>
						</h2>
					</div>
				</div>		
			</div>
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="js/mainCtr.js"></script>
	</body>
</html>
